<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="tms.gj.mapper.CampaignMapper"> -->
<mapper namespace="tms.gj.mapper.CampaignMapper">

	<select id="campaignCount" resultType="int">
		select count(*)
		from campaign
	</select>

</mapper>