<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="tms.gj.mapper.PopulationMapper">

	<select id="year2021_count" resultType="int">
		select
			sum(population) as population
		from
			population
		where
			year = 2021;
	</select>
	<select id="year_count" resultType="tms.gj.domain.PopulationVO">
		select 
			year, 
			sum(population) as population
		from 
			population 
		group by 
			year
		order by 
			year;
	</select>
	
	
	<select id="year2021_dong" resultType="tms.gj.domain.PopulationVO">
		select 
			dong, 
			sum(population) as population 
		from 
			population 
		where
			year = 2021 
		group by 
			year, dong 
		order by 
			year, dong;
	</select>
	<select id="year_dong" resultType="tms.gj.domain.PopulationVO">
		select 
			year, 
			dong, 
			sum(population) as population 
		from 
			population 
		where
			year = #{year} 
		group by 
			year, dong 
		order by 
			year, dong;
	</select>
	
	
	<select id="year2021_sex" resultType="tms.gj.domain.PopulationVO">
		select 
			sex, 
			sum(population) as population, 
			round(sum(population)/(select sum(population) from population where year = 2021)*100, 1) as per
		from 
			population 
		where 
			year = 2021 
		group by 
			year, sex
		order by 
			year, sex;
	</select>
	<select id="year_sex" resultType="tms.gj.domain.PopulationVO">
		<!-- select 
			year, 
			sex, 
			sum(population) as population, 
			round(sum(population)/(select sum(population) from population where year = #{year})*100, 1) as per
		from 
			population 
		where 
			year = #{year} 
		group by 
			year, sex 
		order by 
			year, sex; -->
		
		select 
			dong, 
			sex, 
			sum(population) as population, round(sum(population)/(select sum(population) from population where year = 2021 and dong = #{dong})*100, 1) as per
		from 
			population 
		where 
			year = 2021 and dong = #{dong}
		group by 
			year, sex 
		order by 
			year, sex;
	</select>
	
	
	<select id="year_age_all" resultType="tms.gj.domain.PopulationVO">
		select 
			year, 
			age, 
			sum(population) as population 
		from 
			population 
		group by 
			year, age
		order by 
			year, age;
	</select>
	<select id="year_age_dong" resultType="tms.gj.domain.PopulationVO">
		select 
			dong, 
			year, 
			age, 
			sum(population) as population 
		from 
			population 
		where
			dong = #{dong}
		group by 
			year, age
		order by 
			year, age;
	</select>
	
	
	<select id="year_item" resultType="tms.gj.domain.ItemVO">
		select 
			year, 
			item, 
			sum(population) as population 
		from 
			item 
		group by 
			year, item 
		order by 
			year, item;
	</select>
	<select id="year_item_dong" resultType="tms.gj.domain.ItemVO">
		select 
			year, 
			dong, 
			item, 
			sum(population) as population 
		from 
			item 
		where
			dong = #{dong}
		group by 
			year, dong, item 
		order by 
			year, dogn, item;
	</select>

</mapper>